<ion-view view-title="MiniApp Cal-área">
  <ion-content class="padding">
    <h2 style="text-align:center">Calcula el área!</h2>
    <div class="list card">
      <div class="list">
        
          <label class="item item-input item-select">
            <div class="input-label">
              Figura
            </div>
            <select ng-model="selected">
              <option  ng-selected="{{i.figura =='circulo'}}" ng-repeat="i in figuras" value="{{i.figura}}"> {{i.figura| uppercase}}</option>
            </select>
          </label>
      </div>
      <section ng-repeat="z in figuras |filter: selected | limitTo : 1 ">
        <div class="list list-inset">
          <label class="item item-input">
            <input type="text" placeholder="{{z.parm1}}" ng-model="x">
          </label>
          <label ng-if="z.use2" class="item item-input">
            <input type="text" placeholder="{{z.parm2}}" ng-model="y">
          </label>
        </div>
        <div class="item item-avatar">
          <img src="img/{{z.figura}}.png" >
          <h3 style="text-align:center">Area de un {{z.figura | uppercase}}</h3>
        </div>
  
        <div class="row item item-body">
          <div>
          <img class="col col-60 full-image" src="img/{{z.figura}}.png" style="max-width:75%">
          <p>
            {{z.comentario}}
          </p>
          </div>
          <div class="col">
            <p>Resultado es :</p> </br>
            <span id="area">{{ z.area(x,y) }}</span>
          </div>
        </div>
      </section>  
    </div>
  </ion-content>
</ion-view>
